:host {
  display: inline-flex;

  button {
    border:     none;
    background: cornflowerblue;


    &.big-button {
      height: 80px;
    }

    &.rounded {
      border-radius: 50%;
    }

    &:focus {
      background: red;

      &:hover {
        background: violet;
      }
    }

    &:hover {
      background: green;
    }



    &:active {
      background: yellow;
    }

    &:disabled {
      opacity:        0.5;
      pointer-events: none;
    }
  }
}
